# all file types
*.ckpt
*.pyc

# whole directory
__pycache__/
ligntning_logs/

datasets/

inference/output/
inference/lightning_logs/
inference/matrices_txt/

train/image_log/
train/lightning_logs/

# file types under directory
